/* Importando a fonte Raleway do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globais */
body {
  font-family: 'Raleway', sans-serif; /* Atualizando para Raleway */
}

/* Adicione estilos específicos de página conforme necessário */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
}
